/* src/App.css */
.app-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.event-list-container, .selected-event-list-container {
  width: 45%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

.event-list-container h2, .selected-event-list-container h2 {
  margin-bottom: 20px;
}
/* src/App.css */
/* Additional styles for responsiveness */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    align-items: center;
  }

  .event-list-container, .selected-event-list-container {
    width: 90%;
    margin: 10px 0;
  }
}
